*{
    margin: 0px;
    padding: 0px;
    font-family: inter;
}

body{
    background-color: #f5eeda;
}

/* Header Section*/

.header-section{
    width: 100vw;
    height: 80px;
    background-color: #cbcfba;
    display: flex;
}

#logo{
    width: 80px;
    height: 80px;
    margin-left: 20px;
}

#search-bar{
    width: 250px;
    height: 35px;
    margin-top: 23px;
    margin-left: 1090px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #f5eeda;
    padding: 10px;
}

#profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f5eeda;
    margin-top: 16px;
    margin-left: 20px;
}

/* Main Section */

.main-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 50px;
}

.podcast-card{
    width: 290px;
    height: 250px;
    border-radius: 15px;
    background-color: #cbcfba;
    margin-top: 20px;
}

.podcast-card:hover .info-card{
    opacity: 1;
    visibility: visible;
}

.info-card{
    width: 290px;
    height: 250px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    font-size: 15px;
    text-align: center;
    color: #f5eeda;
}

.info-card-content{
    margin-top: 70px;
}

.info-card-content h2, h4{
    margin-bottom: 10px;
}

#info-genre{
    width: 100%;
    border-radius: 16px;
    background-color: #f5eeda;
    color: black;
    margin-bottom: 10px;
}

/* Modal Section */

.modal-card{
  width: 750px;
  height: 550px;
  background-color: #f5eeda;
  border: none;
  border-radius: 15px;
  padding: 20px;
}

.modal-wrapper{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    display: none;
    align-items: center;
    justify-content: center;
}

.title-btn{
    display: flex;
}

.title-btn h1{
    font-size: 10px;
}

#close-btn{
    margin-left: 580px;
    border: none;
    background-color: #f5eeda;
    font-size: 18px;
    color: black;
    transition: color 0.2s;
    cursor: pointer;
}

#close-btn:hover{
    color: #cbcfba;
}

.img-description{
    display: flex;
}

#modal-img{
    width: 200px;
    height: 200px;
    background-color: #cbcfba;
    border-radius: 16px;
    margin-top: 30px;
}

#modal-content{
    margin-top: 30px;
    margin-left: 30px;
}

#modal-content h3{
    margin-bottom: 10px;
}

#modal-content h4{
    margin-top: 150px;
}

#modal-genre{
    width: 100px;
    height: 25px;
    border-radius: 16px;
    background-color: #cbcfba;
}